html {
  background-color: #e8e8e8;
}

body {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  background-color: white;
}

header {
  text-align: center;
  line-height: 4em;
  color: white;
  background-color: black;
  grid-row: 1;
  grid-column: 1/4;
}

main {
  grid-column: 1/4;
}

footer {
  text-align: center;
  font-size: 0.9em;
  grid-column: 1/4;
}
